[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
graphene-django = "==3.0.0b7"
django-graphiql = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
